@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

/* Presets */

html {
    font-family: 'Rowdies';
}

html::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./Faye-Webster.png);
    filter: blur(50px);
    z-index: -1;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    font-family: 'Rowdies';
    color: rgb(rgb(26, 7, 7), rgb(0, 0, 0), rgb(0, 0, 0))
}

/* Song information | ARTIST / SONG NAME */

#song_block {
    display: flex;
    align-items: center;
    font-family: 'Rowdies';
    justify-content: center;
    text-align: center;
}

.song_info {
    display: block;
    font-size: 20px;
    border: 5px solid transparent;
    background-color: red;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.song_info:hover {
    transform: scale(1.2);
}

#song_img {
    padding: 10px;
    width: 300px;
    border-radius: 50px;
    border: 10px solid transparent;
    transition: transform 0.3s ease;
}

#song_img:hover {
    transform: scale(1.2);
}

/*Bottom part of site*/

#right_blocks_info_bottom {
    margin-top: 600px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    float: right;
}

.rightbtm,
.rightbtmlink {
    color: white;
    border: 4px solid transparent;
    border-radius: 20px;
    background-color: black;
    text-align: center;
    font-size: 20px;
}

/* Twitter Link */
.rightbtmlink {
    color: gray;
    border: 4px solid transparent;
    border-radius: 20px;
    background-color: black;
    padding-left: 100px;
    padding-right: 100px;
}

.rightbtmlink:hover {
    color: rgba(240, 27, 27, 0.849);
}