@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');


#background-img {
    background-position: center;
    background-image: url(https://www.dropbox.com/scl/fi/n7ubagh1xldbjrcbmeqo3/Faye-Webster.png?rlkey=mxkqcqt6lx22penodx7tmi6ij&dl=1);
}

a {
    text-decoration: none;
    font-family: 'Rowdies';
    filter: blur(2px);
    transition: all 1s ease-out;
}

a:hover {
    filter: blur(0px);
    transition-duration: 1s;
    font-size: 20px;
}

#right_blocks_info_bottom {

}

#song_block {
    display: flex;
    align-items: center;
}